
<form action='http://container.api.tbsandbox.com/container?encode=utf-8' method='get'>
  App Key:
  <input type='text' name='appkey' value=''/>
  <input type='submit' value='获得淘宝session key'/>
</form>

Session Key:     <%= params[:top_session] %><br/>
top parameters:  <%= params[:top_parameters] %>